/* Normalizer */
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);


html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(214, 214, 214);
    margin: 0;
    padding: 0;
 
}

#startcontainer {
    box-shadow: rgb(0, 0, 0, 0.5) 4px 4px 8px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    border-radius: 30px;

}

@keyframes appear {
    0% {
        opacity: 0%;
        transform: translateY(-50px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}


#container {
    box-shadow: rgb(0, 0, 0, 0.5) 4px 4px 8px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    border-radius: 30px;
   
}


#header {
    width: auto;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    overflow-Y: hidden;
    border-radius: 30px 30px 0 0;
    
}

#headertext {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    
}

#start {
    color: white;
}

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    
}

nav {

}

#open-menu {
    background-color: rgb(0, 0, 0);
    padding: 5px 10px 10px 10px;
    margin: 0;
    border: 2px solid rgb(164, 255, 225);
    border-radius: 10px;
    cursor: pointer;
    display: none;
    justify-content: space-between;
    width: 100px;
    height: 45px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* #close-menu:hover {
    box-shadow: rgb(255, 17, 17) 0px 2px 8px;  
} */

.menutextopen {
    color: rgb(164, 255, 225);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.bar1 {
    background-color: rgb(164, 255, 225);
    width: 25px;
    height: 3px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bar2 {
    background-color: rgb(164, 255, 225);
    width: 25px;
    height: 3px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bar3 {
    background-color: rgb(164, 255, 225);
    width: 25px;
    height: 3px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#close-menu {
    background-color: rgb(0, 0, 0);
    padding: 5px 10px 10px 10px;
    margin: 0;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    justify-content: space-between;
    width: 100px;
    height: 45px;
}

/* #open-menu:hover {
    box-shadow: rgb(255, 255, 255) 0px 2px 8px;  
} */

.menutextclose {
    color: red;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.bar1close {
    height: 3px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(250%) rotate(45deg);
    width: 35px;
    background-color: red;
    display: block;
}

.bar2close {
    height: 3px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateX(-200%) scaleY(10);
    opacity: 0%;
    background-color: red;
    display: block;
}

.bar3close {
    height: 3px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-250%) rotate(-45deg);
    width: 35px;
    background-color: red;
    display: block;
}


#close-menu-icon .bar1 {
    transform: translateY(250%) rotate(45deg);
    transition: 0.5s ;
    width: 35px;
    background-color: red;
}

#close-menu-icon .bar2 {
transform: translateX(-200%) scaleY(10);
    transition: 0.5s;
    opacity: 0%;
    background-color: red;
}

#close-menu-icon .bar3 {
    transform: translateY(-250%) rotate(-45deg);
    transition: 0.5s;
    width: 35px;
    background-color: red;
}



.link {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: rgb(64, 255, 191);
    text-wrap: nowrap;

}

.linkbutton {
    background-color: black;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid rgb(64, 255, 191);
}

.linkbuttonactive {
    background-color: rgb(187, 255, 136);
    padding: 5px 20px;
    border-radius: 10px;
    color: rgb(0, 91, 61);
    text-shadow: rgb(255, 255, 255) 0px 2px 8px;
    border: 2px solid rgb(64, 255, 191);
}

.linkbutton:hover, .linkbutton:focus {
    background-color: rgb(164, 255, 225);
    box-shadow: rgb(255, 255, 255) 0px 2px 8px;
    transform: translateY(-3px);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 91, 61);
    text-shadow: rgb(255, 255, 255) 0px 2px 8px;
    
}

.linkbuttonactive:hover, .linkbuttonactive:focus {
    background-color: rgb(164, 255, 225);
    box-shadow: rgb(255, 255, 255) 0px 2px 8px;
    transform: translateY(-3px);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 91, 61);
    text-shadow: rgb(255, 255, 255) 0px 2px 8px;
}

.linkbutton:focus {
    background-color: rgb(164, 255, 225);
    box-shadow: rgb(255, 255, 255) 0px 2px 8px;
    transform: translateY(-2px);
    border-radius: 10px;
    cursor: pointer;
}

#main {
    height: auto;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 50px;
    
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}

.images2 {
    display: flex;
    justify-content: center;
    margin-top: -1px;
    width: 100%;
}

.startimage {
    max-width: 100%;
}

picture {

}

.drink:hover, .drink:focus {
    opacity: 80%;
    box-shadow: yellow 0px 0px 40px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.0rem;
    line-height: 6.0rem;
    text-align: left;
    color: rgb(0, 0, 0, 0.8);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.bigheadline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12vw;
    line-height: 12vw;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: -54vw;
    -webkit-text-stroke: 2px rgb(255, 255, 255) ;
    text-shadow: rgb(255, 0, 0) 1px 1px 20px;
    animation: textappear 2s;
}

@keyframes textappear {
    0% {
        opacity: 0%;
        transform: translateY(50px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.0rem;
    line-height: 6.0rem;
    text-align: left;
    color: rgb(0, 0, 0, 0.8);
    text-align: left;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#boil {
    color: rgb(218, 0, 0);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: left;
    color: rgb(0, 0, 0, 0.8);
    margin-bottom: 10px;
    margin-top: 20px;
}

.brod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.brodtext {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: rgb(0, 0, 0, 0.8);
    margin-bottom: 50px;
    max-width: 500px;
}

.brodtext2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: rgb(0, 0, 0, 0.8);
    margin-bottom: 5px;
    max-width: 500px;
    margin-left: 20px;
}


p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: rgb(0, 0, 0, 0.8);
}

#logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#logo1 {
    margin-top: 10px;
}
#logo3 {
    display: flex;
    margin-top: 10px;
    gap:10px;
}

#box {
    margin-top: -5px;
}

#logo4 {
    display: flex;
    gap:0px;
}

#cat {
    margin-top: 2px;
}

#footer {
    width: auto;
    background-color: black;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 0 0 30px 30px;

}

#netlify {
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}

#footertext {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#mingithub {
    text-decoration: none;
}
#name {
    color: rgb(64, 255, 191);
}

.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(64, 255, 191);
}  

@media only screen and (min-width: 1570px) {
    .bigheadline {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18.8rem;
        line-height: 18.8rem;
        text-align: left;
        color: rgba(255, 255, 255, 0.9);
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        margin-top: -844px;
        -webkit-text-stroke: 2px rgb(255, 255, 255) ;
        text-shadow: rgb(255, 0, 0) 1px 1px 20px;
    }
}



@media only screen and (max-width: 800px) {


    #open-menu {
        background-color: rgb(0, 0, 0);
        padding: 5px 10px 10px 10px;
        margin: 0;
        border: 2px solid rgb(64, 255, 191);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100px;
        height: 45px;
        margin-left: auto;
        margin-right: 20px;
        margin-top: -10px;
        margin-bottom: 10px;
        animation-name: hamburgerborder;
        animation-duration: 1s;
        animation-fill-mode:both;
        animation-play-state: paused;
        animation-direction: normal;

    }



    #menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        list-style-type: none;
        margin-left: -20px;
        margin-right: 20px;
        padding-top: 10px;
        animation: showmenu;
        animation-play-state: paused;
        animation-duration: 1s;
        transition: all ease-in-out;
        
    }

    #close-menu {
        background-color: rgb(0, 0, 0);
        padding: 5px 10px 10px 10px;
        margin: 0;
        border: 2px solid red;
        border-radius: 10px;
        cursor: pointer;
        display: none;
        justify-content: space-between;
        width: 100px;
        height: 45px;
        margin-left: auto;
        margin-right: 20px;
        margin-top: -10px;
        margin-bottom: 10px;
        animation-name: hamburgerborderclose;
        animation-duration: 1s;
        animation-fill-mode:both;
        animation-play-state: paused;
        animation-direction: normal;
    }



    .menutextopen {
        color: rgb(64, 255, 191);
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        animation-name: hamburgertext;
        animation-duration: 1s;
        animation-fill-mode:both;
        animation-play-state: paused;
        animation-direction: normal;

    }

    .menutextclose {
        color: red;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        animation-name: hamburgertextclose;
        animation-duration: 1s;
        animation-fill-mode:both;
        animation-play-state: paused;
        animation-direction: normal;
    }

    @keyframes showmenu {
        from {
            transform: translateY(400px);
        }
    
        to {
            transform: translateY(0px);
        }
     }

     @keyframes hidemenu {
        0% {
            transform: translateY(0px);
        }
    
        100% {
            transform: translateY(400px);
        }
     }

 @keyframes hamburgerborder {
    from {
        border: 2px solid rgb(64, 255, 191);
    }

    to {
        border: 2px solid red;
    }
 }

 @keyframes hamburgerborderhover {
    from {
        box-shadow: rgb(255, 255, 255) 0px 2px 8px;  
    }

    to {
        box-shadow: red 0px 2px 8px;  
    }
 }


 @keyframes hamburgerborderclose {
    from {
        border: 2px solid red;
    }

    to {
        border: 2px solid rgb(64, 255, 191);
    }
 }


 @keyframes hamburgerborderclosehover {
    from {
        box-shadow: red 0px 2px 8px;  
    }

    to {
        box-shadow: rgb(255, 255, 255) 0px 2px 8px;  
    }
 }


 @keyframes hamburgertext {
    from {
        color: rgb(64, 255, 191);
    }

    to {
        color: red;
    }
 }

 @keyframes hamburgertextclose {
    from {
        color: red;
    }

    to {
        color: rgb(64, 255, 191);
    }
 }


 .bar1 {
    animation-name: hamburgerbar1;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-play-state: paused;
    animation-direction: normal;
}


.bar2 {
    animation-name: hamburgerbar2;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-play-state: paused;
    animation-direction: normal;

}


.bar3 {
    animation-name: hamburgerbar3;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-play-state: paused;
    animation-direction: normal;

}


.bar1close {
    animation-name: hamburgerbar1close;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-play-state: paused;
    animation-direction: normal;
}


.bar2close {
    animation-name: hamburgerbar2close;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-play-state: paused;
    animation-direction: normal;

}


.bar3close {
    animation-name: hamburgerbar3close;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-play-state: paused;
    animation-direction: normal;

}

 @keyframes hamburgerbar1 {
    from {
        background-color: rgb(64, 255, 191);
        width: 25px;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    to {
        transform: translateY(250%) rotate(45deg);
        width: 35px;
        background-color: red;
    }
 }

 @keyframes hamburgerbar2 {
    from {
        background-color: rgb(64, 255, 191);
        width: 25px;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    to {
        transform: translateX(-200%) scaleY(10);
        opacity: 0%;
        background-color: red;
    }
 }

 @keyframes hamburgerbar3 {
    from {
        background-color: rgb(64, 255, 191);
        width: 25px;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    to {
        transform: translateY(-250%) rotate(-45deg);
        width: 35px;
        background-color: red;
    }
 }



 @keyframes hamburgerbar1close {
    from {
        transform: translateY(250%) rotate(45deg);
        width: 35px;
        background-color: red;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    to {
        background-color: rgb(64, 255, 191);
        width: 25px;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateY(0%) rotate(0deg);

    }
 }

 @keyframes hamburgerbar2close {
    from {
        transform: translateX(-200%) scaleY(10);
        opacity: 0%;
        background-color: red;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    to {
        background-color: rgb(64, 255, 191);
        width: 25px;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateX(0%) scaleY(1);
        opacity: 100%;
    }
 }

 @keyframes hamburgerbar3close {
    from {
        transform: translateY(-250%) rotate(-45deg);
        width: 35px;
        background-color: red;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    to {
        background-color: rgb(64, 255, 191);
        width: 25px;
        height: 3px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateY(0%) rotate(0deg);

    }
 }

}